*{
    font-family: Arial;
}

.type-text{
    font-size: 18px;
}
.btn1{
    font-size: 18px;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 12px; 
    margin-left: 10px;
}
.due-date-input{
    font-size: 18px;
}
